<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/documento.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/icono.png' %}" />
    <link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick.css"/> 
    <link rel="stylesheet" type="text/css" href="slick-1.8.1/slick/slick-theme.css"/>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'></script>
    {% block title %}{% endblock %}
  </head>
  <body style="background-color:#f1f1f1e0">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            {% load static %}
            <img class="img-fluid" src="{% static 'img/logo.png' %}" width="150"
            height="80"
            alt="logo">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
              </li>
              
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Catálogo
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'catalogo' %}">Mostrar todo</a></li>
                  <li><a class="dropdown-item" href="{% url 'catalogo_libros' %}">Libros</a></li>
                  <li><a class="dropdown-item" href="{% url 'catalogo_audio' %}">Audios</a></li>
                  <li><a class="dropdown-item" href="{% url 'catalogo_videos' %}">Videos</a></li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'solicitudes' %}">Solicitudes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'usuario_list' %}">Usuarios</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contáctanos</a>
              </li>
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar documento"
                aria-label="Search"
              />
              <button class="btn btn-maincolor" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <section>
      {% block content %} 
      {% endblock %}
    </section>
    <div class="footer-basic">
        <footer class ="footer">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Inicio</a></li>
                <li class="list-inline-item"><a href="#">Catálogo</a></li>
                <li class="list-inline-item"><a href="#">Sobre BiblioBEC</a></li>
                <li class="list-inline-item"><a href="#">Ayuda en línea</a></li>
            </ul>
            <p class="copyright">BiblioBEC © 2021</p>
        </footer>
    </div>   
    <script src='https://code.jquery.com/jquery-3.1.1.slim.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
  </body>
</html>
