{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
    <title>BiblioBEC</title>
    {%endblock%}
</head>
<body>
    {%block content%}
    <H1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores temporibus repellat cum. Sequi pariatur voluptas voluptate mollitia quisquam. Dignissimos possimus rem quia sunt, illo repudiandae iusto. Quia itaque quasi dicta?</H1>
    {%endblock%}
</body>
</html>