{% extends "base.html" %}
{%block title%} <title>Preguntas frecuentes</title> {%endblock%}
{% block content %}

<header class="masthead text-center mb-3">
    <div class="container">
        <h1 class="masthead-heading text-uppercase mt-2 mb-0">Preguntas frecuentes</h1>
    </div>
</header>
<div class="m-2 p-3">
    
    <div class="text-center mb-3" style="font-style: italic; font-size: large; ">
        <p>En esta sección se encuentran las preguntas más frecuentes sobre el proceso de préstamos, solicitudes, devoluciones, sanciones y reservas a través de la página web 
            de la biblioteca municipal de Estación Central.</p>
    </div>
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" style="font-weight: 500;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Cómo puedo solicitar un documento en BiblioBEC?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="font-size: medium;">
                Para solicitar un documento debe estar registrado como usuario en BiblioBEC, iniciar sesión con su RUT 
                y contraseña, ingresar al catálogo electrónico desde el menú, elegir el documento y apretar el botón solicitar y luego el botón préstamo,
                tendrá la opción de solicitarlo en sala o a domicilio. Al escoger cualquiera de las dos opciones se registrará la solicitudun comprobante 
                de préstamo, en donde se detalla el título y autor del documento en préstamo, el número de préstamo, RUT de usuario, fecha/hora de préstamo y
                de devolución.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" style="font-weight: 500;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Cómo puedo reservar un documento?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="font-size: medium;">
                Para reservar un documento debe estar registrado como usuario en BiblioBEC, iniciar sesión con su RUT 
                y contraseña, ingresar al catálogo electrónico desde el menú, elegir el documento y apretar el botón reservar, se mostrará un formulario, 
                en donde debe ingresar la fecha de reserva, fecha de solicitud desde 
                y hasta cuando, por último, debe apretar el botón reservar.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" style="font-weight: 500;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿Puedo solicitar un documento si no inicio sesión como usuario en BiblioBEC?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="font-size: medium;">Debe iniciar sesión como usuario para poder solicitar el préstamo de un documento en BiblioBEC.</div>
          </div>
        </div>
        <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" style="font-weight: 500;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                ¿Cómo me puedo registrar en BiblioBEC para solicitar documentos?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: medium;">
                    Para registrarse como usuario en BiblioBEC, debe acercarse al mesón del administrativo de biblioteca, el registrará en el sistema sus datos 
                    como RUT, nombre y apellidos, dirección, teléfono, correo electrónico, foto, huella y por último le asignará una password aleatoria, en donde usted
                    podrá cambiarla después de habilitar su cuenta.
                </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" style="font-weight: 500;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ¿Cómo habilito mi cuenta de usuario en BiblioBEC?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: medium;">
                    Luego de ser registrado en BiblioBEC, automaticamente se enviará un correo a su email, en donde se muestra el botón "Activar cuenta",
                    solo debe apretar el botón y la cuenta se habilitará.
                </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="flush-headingThreeSix">
              <button class="accordion-button collapsed" style="font-weight: 500;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                ¿Cuánto tiempo tengo para devolver los documentos prestados?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: medium;">
                    Si el préstamo es en sala, el plazo establecido de uso para cualquier documento es de 3 horas. En cambio, si el préstamo es a domicilio,
                    el usuario tendrá un plazo de hasta 5 días para devolver el documento.
                </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" style="font-weight: 500;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                ¿Qué pasa si no devuelvo algún documento dentro del plazo establecido?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="font-size: medium;">
                    Si el documento no es devuelto dentro del plazo establecido, el usuario será sancionado por la administración de BiblioBEC.
                </div>
            </div>
          </div>
      </div>
    
</div>
{% endblock %}