{% extends "base.html" %}

{%block title%}
<title>Solicitudes</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/solicitude.css' %}">
{%endblock%}
{%block content%}
{% if num.0.data.0 > 0 %}
<div class="soli-center">
    <div class="opcion-soli">
        <div class="op-sala">
            <h2>Préstamo en sala</h2>
            <hr>
            <div class="sala-id">
                <div class="img-doc">
                    <img class="card-img-top" src="data:imagen/png;base64, {{doc.0.imagen}}">
                </div>
                <div class="des-sala">
                    <p>Seleccione esta opción si desea inspeccionar el documento 
                        dentro de nuestras instalaciones, tendrá un maximo de 3 horas
                        para poder utilizar el ejemplar, luego de pasado el tiempo 
                        debe devolver el documento a las estanterías.
                    </p>
                </div>
            </div>
            <div class="form-sala">
                <form action="{% url 'proceso_solicitud' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="rut" id="rut" value="{{rut}}"hidden>
                    <input type="text" name="id_ejem" id="id_ejem" value="{{ejem.0.data.0}}"hidden>
                    <input type="text" name="isbn" id="isbn" value="{{doc.0.data.0}}"hidden>
                    <input type="text" name="tipo" id="tipo" value="s"hidden>
                    <input type="text" name="pro" id="pro" value = 's' hidden>
                    <input type="submit" class="btn btn-success" value="Solicitar en sala">
                </form>
            </div>
        </div>    
        <div class="op-domi">
            <h2>Préstamo a domicilio</h2>
            <hr>
            <div class="sala-id">
                <div class="img-doc">
                    <img class="card-img-top" src="data:imagen/png;base64, {{doc.0.imagen}}">
                </div>
                <div class="des-sala">
                    <p>Seleccione esta opción si desea llevar el documento a su domicilio.
                    Tendrá un máximo de 5 dias para ocupar el ejemplar. De no presentar la devolución
                    del documento dentro del plazo establecido se sancionará al usuario por atraso en la entrega.
                    </p>
                </div>
            </div>
            
            <div class="form-sala">
                <form action="{% url 'proceso_solicitud' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="rut" id="rut" value="{{rut}}"hidden>
                    <input type="text" name="id_ejem" id="id_ejem" value="{{ejem.0.data.0}}"hidden>
                    <input type="text" name="isbn" id="isbn" value="{{doc.0.data.0}}"hidden>
                    <input type="text" name="tipo" id="tipo" value="d"hidden>
                    <input type="text" name="pro" id="pro" value = 's' hidden>
                    <input type="submit" class="btn btn-success" value="Solicitar a domicilio">
                </form>
            </div>
        </div>
    </div>
</div>
{% elif num.0.data.0 == null %}
<div class="soli-center">
    <h3>
        No hay ejemplares disponibles en este momento.
    </h3>
    <div class="container text-center p-5">
        {% load static %}
        <img src="{% static 'img/404-libro.jpg' %}" alt="" class="col-10">
    </div>
</div>
{% endif %}
{%endblock%}
{% load static %}
<script src="{% static 'js/solicitude.js'%}"></script>